<?xml version="1.0"?>
<model>
  <name>apriltag</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <description>
    AprilTag ground markers.
    Place your PNG files in the media/ subdirectory.
    Recommended naming: tag36_11_XXXXX.png  (e.g. tag36_11_00000.png)
    You can download the full tag family images from:
      https://github.com/AprilRobotics/apriltag-imgs
  </description>
</model>
